// Defaults for the body
body {
  font: normal normal normal 1rem/1.5 'source_sans_pro', sans;
  margin: 0;
  font-weight: 400;
  color: rgba(0,0,0,.75);
}
:not(p)>a{
  color: rgb(49,107,158);
  &:hover{
    text-decoration: underline;
  }
}
// Global objects like the header and footer
#globalhead{
  background: #000;
  padding: .5rem 0;
  height: 2.5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  a:hover{
    background: transparent;
    path{
      fill: #f5f58f;
    }
  }
}
#globalheadplaceholder{
  height: 2.5rem;
}
#globalfoot{
  background: #000;
  padding: .5rem 0;
  text-align: center;
  width: 100%;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
    margin: 0 .5rem;
  }
  a{
    color: white;
  }
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  margin: 1em 0;
}
.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Article*/
article, section{
  padding: 1px 0;
}
.article-header, .section-header{
  margin: 2rem 10% 0 20%;
  @media (min-width: 500px) and (max-width: 800px) {
    margin: 2rem 5% 0;
  }
  @media (max-width: 500px) {
    margin: 2rem .25rem 0;
  }
}
.home-section, 
.article-body,
.article-footer,
.resource-comments{
  max-width: 800px;
  margin: 0 20%;
  @media (min-width: 500px) and (max-width: 800px) {
    margin: 0 5%;
  }
  @media (max-width: 500px) {
    margin: 0 1rem;
  }
}

h1{
  font-size: 3.375rem;
  font-weight: 200;
  line-height: 1;
  margin: 0 0 .25rem;
  @media (max-width: 800px) {
    font-size: 2rem;
  }
}
h2{
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  margin: 2rem 0 .5rem;
}
h3{
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1.5rem 0 0;
  letter-spacing: .1rem;
  font-weight: 600;
}
h4{
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: 600;
}
h5{
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: 600;
}
h6{
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: 600;
}
p{
  font-size: 1rem;
  margin: 0 0 1rem;
}
a{
  color: inherit;
  text-decoration: none;
  position: relative;
}
p>a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: .8rem;
  width: 100%;
  margin: .2rem 0 0;
  background: yellow;
  z-index: -1;
}
p>a:hover::before{
  border-bottom: 1px solid;
}
code{
  font-size: 80%;
}
blockquote{
  font-style: italic;
  padding: .5rem 1rem .75rem;
  margin: 1rem 0 1rem;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
blockquote p{
   margin: 0;
}
ul {
  padding: 0 0 0 1.5rem;
}
article ul{
  list-style: none;
  padding: 0 0 0 1rem;
}
article ul li{
  margin: 0 0 .5rem;
}
article ul li::before{
  content: "\25ca";
  display: inline-block;
  width: 1rem;
  margin: 0 0 0 -1rem;
  color: rgb(49,107,158);
}
article ol{
  padding: 0;
  list-style: none;
  padding: 0 0 0 1rem;
  counter-reset: o;
}
article ol li{
  counter-increment: o;
  margin: 0 0 .5rem;
}
article ol li::before{
  display: inline-block;
  content: counter(o) ".";
  width: 1rem;
  margin: 0 0 0 -1rem;
  color: rgb(49,107,158);
}

.footnotes ol{
  padding: 0;
  list-style: none;
  padding: 0 0 0 1rem;
  counter-reset: o;
}
.footnotes ol li{
  counter-increment: o;
  margin: 0 0 .5rem;
}
.footnotes ol li::before{
  display: inline-block;
  content: counter(o) ".";
  width: 1rem;
  margin: 0 0 0 -1rem;
  color: rgb(49,107,158);
}
.footnotes p{
  display: inline-block;
  margin: 0;
}

sup:nth-of-type(4n+1){
  color: green;
}
sup:nth-of-type(4n+2){
  color: blue;
}
sup:nth-of-type(4n+3){
  color: cyan;
}
sup:nth-of-type(4n+0){
  color: red;
}

.footnotes li:nth-of-type(4n+1):before{
  color: green;
}
.footnotes li:nth-of-type(4n+2):before{
  color: blue;
}
.footnotes li:nth-of-type(4n+3):before{
  color: cyan;
}
.footnotes li:nth-of-type(4n+0):before{
  color: red;
}



// Media Queries for Text Size Changes
@media only screen and (max-width: 800px) {
  :root {
    font-size: 16px;
  }
}
// @media only screen and (min-width: 500px) and (max-width: 800px) {
//   :root {
//     font-size: 16px;
//   }
// }
@media only screen and (min-width: 800px) {
  :root {
    font-size: 18px;
  }
}