body {
  font-family: 'source_sans_pro', sans;
}
.site {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

#manifesto {
  width: 300px;
  height: 534px;
  background-image: url("../img/manifesto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0 auto;
  border: 1px solid #999;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #manifesto {
    background-image: url("../img/manifesto@2X.jpg");
    background-size: cover;
  }
}
