body {
  font-family: 'source_sans_pro', sans;
}
.site {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

article img {
  max-width: 100%;
  height: auto;

}