---
layout: home
title: Home
---
<div id="content" class="site">
  <section class="home-section" itemscope itemprop="mainContentOfPage about" itemtype=http://schema.org/WebPageElement>
    <h2>About</h2>
      <p>We think the best way to improve the design industry is to work in the open.</p>
      <p>If you have 39 minutes <a href="/blogging_about/designers-can-open-source-session-video/">watch this presentation</a>, if not <a href="/blogging_about/the-open-source-design-manifesto/">read the manifesto</a>. If you're curious about this site <a href="/blogging_about/building_this_site/">read this post</a>.  Finally, if you'd like to help contribute design, code, or content; <a href="/blogging_about/the-roadmap/">checkout the roadmap</a> or hit us up on the #opensourcedesign channel (Freenode) in IRC.
  </section>
  
  <section class="home-section" itemscope itemtype="http://schema.org/Blog">
    <h2 class="title" itemscope itemprop="name">Articles</h2>
    <ul class="bloglist">
    {% for post in site.categories.blogging_about %}
      {% assign author = site.authors[post.author] %}
      <li class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <h3 class="title" itemscope itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
        <div class="meta">
          <time datetime="{{post.date | date: "%Y-%m-%d" }}" itemscope itemprop="datePublished">posted {{post.date | date: "%b %e" }}</time>
          <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            by <a href="{{author.web}}" itemprop="url"><span itemprop="name">{{author.display_name}}</span></a>
          </span>
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>

  <section class="home-section" itemscope itemtype="http://schema.org/ItemList">
    <h2 class="title" itemprop="name">Resources</h2>
    <meta itemscope itemprop="itemListOrder" content="Unordered" />
      <ul class="reslist">
      {% for post in site.categories.resourced %}
        <li itemprop="itemListElement"><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
  </section>
</div>
