---
layout: page
title: Resources
---
{% for categ in site.resourceCategories %}
  <meta itemscope itemprop="itemListOrder" content="Unordered" />
  <h4>{{ categ }}</h4>
  <ul class="reslist" itemscope itemtype="http://schema.org/ItemList">
    {% for post in site.categories.resources %}
      {% if post.category == categ %}
        <li itemprop="itemListElement"><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

<p>
	Contribute to Design Open's list of resources.<br>
	Drag this link to your bookmarks bar: 
	<a id="bookmarklet-link">Add OSD</a>
</p>
<script type="text/javascript" src="http://osdrc.herokuapp.com/bookmarklet.js"></script>
