// Article Module

article, section{
  padding: 1px 0;
}
.article-header, .section-header{
  margin: 2rem 10% 0 20%;
  @media (min-width: 500px) and (max-width: 800px) {
    margin: 2rem 5% 0;
  }
  @media (max-width: 500px) {
    margin: 2rem .25rem 0;
  }
}