
// Base Styles
html {
  height: 100%;
}

// Defaults for the body
body {
  box-sizing: border-box;
  color: #333;
  font: normal normal normal 1rem/1.5 'source_sans_pro', sans;
  font-weight: 400;
  margin: 0;
  margin-bottom: -100px;
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;
}

a {
  color: rgb(49, 107, 158);

  a:focus,
  &:hover {
    text-decoration: underline;
  }
}

// Media Queries for Text Size Changes
@media only screen and (max-width: 800px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
    font-size: 18px;
  }
}

.home-logo {
  height: 6rem;
  margin-right: 1rem;
  width: 6rem;
}

.site {
  padding: 2rem 0;
}
