// Header Styles

#globalhead {
  background: #000;
  padding: .5rem 0;
  height: 2.5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
#globalhead, .pageheader {
  a {
    color: #E6E6E6;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
      background: transparent;
      color: #f5f58f;
      path{
        fill: currentColor;
      }
    }
  }
  svg {
    height: 100%;
  }
}
#globalheadplaceholder{
  height: 2.5rem;
}

.home-section,
.page-section,
.article-body,
.article-footer,
.resource-comments{
  max-width: 800px;
  margin: 0 20%;
  @media (min-width: 500px) and (max-width: 800px) {
    margin: 0 5%;
  }
  @media (max-width: 500px) {
    margin: 0 1rem;
  }
}
