

// Header Styles
#globalhead {
  background: #000;
  padding: .5rem 0;
  height: 2.5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

#globalhead,
.pageheader {

  a {
    color: #E6E6E6;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      background: transparent;
      color: #f5f58f;

      path{ fill: currentColor; }
    }
  }

  svg { height: 100%; }
}

#globalheadplaceholder { height: 2.5rem; }

.home-section,
.page-section,
.article-header,
.article-body,
.article-footer,
.resource-comments{
  max-width: 530px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 50em) {
  .home-section,
  .page-section,
  .article-header,
  .article-body,
  .article-footer,
  .resource-comments { max-width: 640px; }
}
