

// This is a partial.
// For all the Sass that needs to be places in better organization
.home-logo {
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
}

.site { padding: 2rem 0; }

// Media Queries for Text Size Changes

