// Typography

h1{
  font-size: 3.375rem;
  font-weight: 200;
  line-height: 1;
  margin: 0 0 .25rem;
  @media (max-width: 800px) {
    font-size: 2rem;
  }
}
h2{
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  margin: 2rem 0 .5rem;
}
h3{
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1.5rem 0 0;
  letter-spacing: .1rem;
  font-weight: 600;
}
h4{
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: 600;
}
h5{
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: 600;
}
h6{
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: 600;
}
p{
  font-size: 1rem;
  margin: 0 0 1rem;
  > a {
  color: inherit;
  background: yellow;
    &:hover,
    &:focus {
      border-bottom: 1px solid;
    }
  }
}
a {
  text-decoration: none;
}
code{
  font-size: 80%; 
}
blockquote{
  font-style: italic;
  padding: .5rem 1rem .75rem;
  margin: 1rem 0 1rem;
  line-height: 1.2;
  font-weight: 600; 
  max-width: 80%; 
  p{
     margin: 0;
     font-size: 1.8rem;
  }
}
ul {
  padding: 0 0 0 1.5rem;
}
article {
  ul {
    list-style: none;
    padding: 0 0 0 1rem;
    li{
      margin: 0 0 .5rem;

      &:before{
        content: "\25ca";
        display: inline-block;
        width: 1rem;
        margin: 0 0 0 -1rem;
        color: rgb(49,107,158);
      }
    }
  }

  ol{
    padding: 0;
    list-style: none;
    padding: 0 0 0 1rem;
    counter-reset: o;

    li{
      counter-increment: o;
      margin: 0 0 .5rem;
      &:before{
        display: inline-block;
        content: counter(o) ".";
        width: 1rem;
        margin: 0 0 0 -1rem;
        color: rgb(49,107,158);
      }
    }
  }
}

.footnotes {
    ol{
    padding: 0;
    list-style: none;
    padding: 0 0 0 1rem;
    counter-reset: o;

    li{
      counter-increment: o;
      margin: 0 0 .5rem;

      &:before{
        display: inline-block;
        content: counter(o) ".";
        width: 1rem;
        margin: 0 0 0 -1rem;
        color: rgb(49,107,158);
      }
    }
  }

  p{
    display: inline-block;
    margin: 0;
  }
}