<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0" />
    <title>Open Source Design{% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts/fonts.css">
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <meta itemscope itemprop="url" content="{{ site.url }}{{ page.url }}">
    {% if page.title %}
      <meta itemscope itemprop="name" content="{{ page.title }}">
    {% endif %}

    {% include global-header.html %}

    {{ content }}

    {% include global-footer.html %}

    {% include analytics.html %}
    <script src="js/main.js"></script>
  </body>
</html>