---
layout: default
---
{% assign author = site.authors[page.author] %}
<div id="content" class="site">
  <article>
    <header>
      <h3>{{ page.title }}</h3>
    </header>
    {{ content }}
    <footer>
      <div class="author">
        <a href="{{author.web}}"><img src="http://www.gravatar.com/avatar/{{author.gravatar}}" alt="{{author.display_name}}" width="30" height="30"></a>
<h3>About the author: <a href="{{site.authors[page.author].web}}">{{author.display_name}}</a></h3>
<p class="author_bio">{{author.bio}}</p>
      </div>
    </footer>
  </article>
</div>
<br>
<footer class="site">{% include comments.html %}</footer>