---
layout: default
---
<div id="content">
  <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
    <meta itemprop="description" content="{{ page.excerpt | strip_html}}">
    <header class="article-header">
      <h1 itemprop="name">{{ page.title }}</h1>
      <p>Published on <time itemprop="datePublished" datetime="{{page.date | date: "%Y-%m-%d" }}">{{page.date | date: "%b %e, %Y" }}</time></p>
    </header>
    <div>
    </div>
    <section itemprop="articleBody" class="article-body">
      {{ content }}
    </section>
    {% include post-footer.html %}
    <meta itemprop="url" content="{{ site.url }}{{ page.url }}">
  </article>
</div>
