---
layout: null
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="initial-scale=1.0" />
    <title>Open Source Design{% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/css/{{ page.css }}">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <!-- <body id="{{ page.title | downcase | replace:' ','-' }}-page"> -->
  <body itemscope itemtype="http://schema.org/WebPage">
    <meta itemscope itemprop="url" content="{{ site.url }}{{ page.url }}">
    {% if page.title %}<meta itemscope itemprop="name" content="{{ page.title }}">{% endif %}
    {% include header-bar.html %}
    <article itemscope itemtype=http://schema.org/BlogPosting>
      <meta itemprop="description" content="{{ page.excerpt | strip_html}}">
      <div>
        Published on <time itemprop="datePublished" datetime="{{page.date | date: "%Y-%m-%d" }}">{{page.date | date: "%b %e, %Y" }}</time>
      <div>
      {{ content }}
      <footer>
        {% assign author = site.authors[page.author] %}
        <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="{{author.web}}"><img itemprop="image" src="http://www.gravatar.com/avatar/{{author.gravatar}}" alt="{{author.display_name}}" width="30" height="30"></a>
          <h3>About the author: <a href="{{site.authors[page.author].web}}" itemprop="url"><span itemprop="name">{{author.display_name}}</span></a></h3>
          <p class="author_bio">{{author.bio}}</p>
        </div>
        {% include comments.html %}
        <nav id="mainnav">
          <ul>
            <li><a href="/atom.xml">Atom Feed</a></li>
            <li><a href="https://plus.google.com/116336973990953325499" rel="publisher">Google+</a></li>
            <li><a href="http://twitter.com/designopen">Twitter</a></li>
            <li><a href="https://github.com/opensourcedesignis/opensourcedesignis.github.io">Github Repo</a></li>
          </ul>
        </nav>
      </footer>
    </article>
    {% include analytics.html %}
  </body>
</html>
  